/*	Global body stuff	*/
body{
  font-family: arial, helvetica, sans-serif;
  background-color: #4682b4;
  color: #82E0AA;
  width:1600px;
  margin: auto;
}

nav{
  background-color: #739122;

}

/*	Header stuff	*/
#main-header{
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}

header img{
  box-shadow: .2em .2em steelblue;
}

#nav_menu{
  height: 30px;
  margin: 60px 100px 90px 10px;
  float: left;
  width:1100px;
}

#nav_menu ul{
  list-style: none;
  position: relative;
  margin-top: 5px;
  padding: 0;
}

#nav_menu ul li{
  padding-left: 10px;
  float: left;
  width:200px;
  text-align: center;
}

#nav_menu ul li a{
  text-align: center;
  display: block;
  padding: .1em 0;
  background-color: #739122;
  font-weight: bold;
  color: #f5deb3;
}


#nav_menu a:hover,
#nav_menu a:focus
{
  background-color: #f5deb3;
  color: #739122;
}

#nav_menu ul ul{
  display: none;
  position: absolute;
  top: 100%;
}

#nav_menu ul ul li{
  float: none;
}

#nav_menu ul li:hover > ul{
  display: block;
}

#nav_menu > ul:after{
  content: "";
  clear: both;
  display: block;
}

article, aside h2, p{
  margin: 10px 0 0 10px;
  padding: 0;
}

article{
  margin-top: 1.5em;
  margin-bottom: 1em;
  float:left;
}

article{
  width:1000px;
  margin-left: 20px;
  padding-right: 25px;
}

#servicessection{
  float: left;
  width: 900px;
  margin: auto;
}

#servicessection a{
  color: blue;
}

#indexaside{
  width: 400px;
  height: 220px;
  color: #739122;
  background-color: #f5deb3;
  margin-left: 70px;
  font-size: 110%;
  margin-top: 1.5em;
  margin-bottom: 1em;
  float:left;
}

#servicessidebar_a{
  height: 300px;
  width: 300px;
  color: #739122;
  background-color: #f5deb3;
  margin-left: 10px;
  font-size: 110%;
  margin-top: 1.5em;
  margin-bottom: 1em;
  float:left;
}

#servicessidebar_b{
  height: 350px;
  width: 300px;
  color: #739122;
  background-color: #f5deb3;
  margin-left: 10px;
  font-size: 110%;
  margin-top: 1.5em;
  margin-bottom: 1em;
  float:right;
}

#servicessidebar_b ul li{
  list-style-image: url("../images/pawprints2.png");
}

.imgpad{
  padding: 0 20px 20px 0;
}

#dogwalker{
  margin: auto;
  width: 500px;
  padding: 10px 500px 20px 500px;
}

/*	Section stuff	*/
.ptext{
}

h1{
  font-size: 200%
}
h2{
  font-size: 170%
}
h3{
  font-size: 140%
}
a{
  text-decoration: none;
}

section a:visited
{
  color: #E74C3C;
}

section a:link,
section a:hover,
section a:focus
{
  color: #4682b4;
}
/*	Services page stuff	*/


/*	Testimonials page stuff	*/


/*	Contact form page stuff	*/
label
{
    display: inline-block;
    text-align: right;
    width: 15em;
	font-size: 2em;
}

input[type="text"],
input[type="email"],
input[type="tel"]
{
	width: 25em;
	line-height: 2em;
	font-size: 1.5em;
}

/*	Footer Section stuff	*/
footer{
  position:fixed;bottom:0;left:0;right:0;height:30px;
  text-align: center;
  font-size: 75%;
}
